.popup{
    position: absolute;
    top:0;
    left:0;
    width: 560px;
    height: 560px;
    z-index: 10;
}


.popup-inner{
    width: 50%;
    min-height: 12%;
    background: var(--tile-light);
    position: absolute;
    border: 1px solid var(--tile-light);
    box-shadow: 0 0 0 4px var(--tile-dark);
}