.promotion-choices{
    height: 11%;
}
.promotion-choices .piece {
    width : 25%;
    height : 100%;
    /* border : 1px solid var(--tile-dark); */
}
.promotion-choices .piece:hover{
    box-shadow: 0 0 0 px var(--tile-dark) inset;
    transform: scale(1.05);
}
.promotion-choices :is(.q_w,.q_b){
    left: 5%;
}
.promotion-choices :is(.r_w,.r_b){
    left: 30%;
}
.promotion-choices :is(.b_w,.b_b){
    left: 55%;
}
.promotion-choices :is(.n_w,.n_b){
    left: 80%;
}
