@import './Themes.css';

html,body{
    margin: 0%;
    padding: 0%;
}

.App {
    display: grid;
    place-content:center;
    height: 100vh;
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: auto 220px;
}