:root {
    --tile-size : 80px;
    --light-tile :white;
    --dark-tile : rgba(38, 82, 8, 0.776);
    --bg-color :  rgba(128, 128, 128, 0.283);
    --highlight :  rgba(128, 128, 128, 0.283);
    --check : #FEEC48;
}

@media all and (max-width: 450px) {
    :root {
        --tile-size : 50px;
    }
}